In [1]:
import os; os.chdir('..')

In [2]:
import pandas as pd

In [3]:
df= pd.read_csv(
    'seo_data_categories/product_categories.csv'
)

df.head()

   Criterion ID                                           Category
0         10021                                           /Apparel
1         10178                       /Apparel/Apparel Accessories
2         10937          /Apparel/Apparel Accessories/Bags & Packs
3         12262  /Apparel/Apparel Accessories/Bags & Packs/Back...
4         12264  /Apparel/Apparel Accessories/Bags & Packs/Brie...

In [4]:
def change_name(name):
    name= name[1:]
    # name= name.replace(" / ", '-')
    name= name.replace("/", '-')
    name= name.replace(",", '_')
    name= name.replace("&", '_')
    name= name.replace(" ", '_')
    name= name.replace("'", '')
    return name

In [5]:
df.Category= df.Category.map(change_name)
df.head()

   Criterion ID                                           Category
0         10021                                            Apparel
1         10178                        Apparel-Apparel_Accessories
2         10937           Apparel-Apparel_Accessories-Bags___Packs
3         12262  Apparel-Apparel_Accessories-Bags___Packs-Backp...
4         12264  Apparel-Apparel_Accessories-Bags___Packs-Brief...

In [6]:
df.size

6360

In [7]:
# df.isna().value_counts()

In [8]:
# df.iloc[0].values[0]

In [9]:
# for category in df.Category:
#     # print(category)
#     os.mkdir(f"product_categories/{category}.csv")

In [10]:
df.Category.isna().value_counts()

Category
False    3180
Name: count, dtype: int64

In [11]:
df.__len__()

3180

In [12]:
def write_files(filename: str, keywords: list):
    with open(f"product_categories/{filename}.csv", "w") as f:
        f.write("keywords\n")
        for i in keywords[:-1]:
            f.write(
                i.replace(',', ' ')+'\n'
            )
        f.write(
                keywords[-1]
            )

In [13]:
# write_files(
#     'abs',
#     [
#         "hfjfhej", 
#         "hfhfi",
#         "hdfuhvue"
#     ]
# )

In [14]:
from utils.client import  generate_keyword_from_categories

In [15]:
category_id= df.iloc[0].values[0]
type(int(category_id))

int

In [16]:
for i in range(365, df.__len__()):
    print(f'i= {i}: ', end=' ')
    
    category_id= df.iloc[i].values[0]
    category= df.iloc[i].values[1]
    keywords= generate_keyword_from_categories(int(category_id))
    print(f'{category_id}:-> {category}:-> {len(keywords)}')
    write_files(
        category,
        keywords
    )
    
    # print(
    #     df.iloc[i].values[0], ': ', 
    #     df.iloc[i].values[1], ': ', 
                
    #         )

i= 365:

10313:-> Beauty___Personal_Care-Tanning___Sun_Care-Tanning_Beds:-> 1000
i= 366:  10312:-> Beauty___Personal_Care-Tanning___Sun_Care-Tanning_Services:-> 1000
i= 367:  10004:-> Business___Industrial:-> 1000
i= 368:  13864:-> Business___Industrial-Aerospace___Defense:-> 1000
i= 369:  13460:-> Business___Industrial-Agriculture:-> 1000
i= 370:  11194:-> Business___Industrial-Agriculture-Agricultural_Equipment:-> 1000
i= 371:  12444:-> Business___Industrial-Agriculture-Agricultural_Equipment-Balers:-> 1000
i= 372:  12438:-> Business___Industrial-Agriculture-Agricultural_Equipment-Crop_Sprayers:-> 1000
i= 373:  12440:-> Business___Industrial-Agriculture-Agricultural_Equipment-Cultivators:-> 1000
i= 374:  12443:-> Business___Industrial-Agriculture-Agricultural_Equipment-Farm_Tractors:-> 1000
i= 375:

TypeError: 'NoneType' object is not subscriptable

In [ ]:
df.Category.values.tolist().index('Beauty___Personal_Care-Tanning___Sun_Care-Tanning_Beds')

365